@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-font: 'Montserrat', sans-serif;
    --box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    --box-shadow-focus: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    --border-radius: 0.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:is(html, body) {
    height: 100vh;
    font-family: var(--primary-font);
}

button {
    font-family: var(--primary-font);
    cursor: pointer;
}

input {
    font-family: var(--primary-font);
}

:is(body, header, main) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#tabs {
    display: flex;
    gap: 0 1rem;
}

.tab {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 12pt;
    outline: none;
    width: clamp(100px, 20vw, 175px);
}

.tab:is(:hover, :focus) {
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
}

.tab.active {
    font-weight: bold;
    border: 1px solid lightgrey;
    border-radius: 0.25rem 0.25rem 0 0;
}

#form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}

.input-group input {
    padding: 0.25rem 0.5rem;
    border: 1px solid lightgrey;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: clamp(10rem, 50vw, 20rem);
    height: 2rem;
    font-size: 12pt;
    caret-color: grey;
}

.input-group input:focus {
    outline: none;
    box-shadow: var(--box-shadow-focus);
}

#button-group {
    display: flex;
    gap: 0 1.25rem;
}

.btn {
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:is(:hover, :focus) {
    scale: 1.05;
    box-shadow: var(--box-shadow-focus);
    outline: none;
}
